.isEmpty {
  position: relative;
  height: calc(100vh - 246px);
  min-height: 100px;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
@media (max-width: 480px) {
  .text  {
    font-size: 17px;
  }
}