.search {
  position: relative;
}
.input {
  width: 100%;
  border-radius: 30px;
  resize: none;
  padding: var(--sp-m) 40px var(--sp-m) var(--sp-m);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  line-height: 1;
  border: none;
  outline: none;
  word-wrap: break-word;
}
.search:focus {
  border: none;
  outline: none;
}
.clear {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  transition: .4s linear;
}
.clear:hover {
  transform: scale(1.2);
  transition: .4s linear;
}
