:root {
  --bg-light-blue: #243b55;
  --bg-dark-blue: #141e30;
  --col-white: #fff;
  --col-black: #000;
  --line-height: 1;

  --sp-s: 10px;
  --sp-m: 15px;
  --sp-l: 20px;
  --sp-xl: 30px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: var(--line-height);
  font-family: "Poppins", sans-serif;
  background: var(--bg-dark-blue); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--col-white);
}

::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #76707370;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}
